@model WebApp.Areas.AdminArea.ViewModels.CreateEditAdminViewModel

@*<div class="form-group">
    <label asp-for="AppUserId" class="control-label"></label>
    <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
    <span asp-validation-for="AppUserId" class="text-danger"></span>
</div>*@
<div class="form-group">
    <label asp-for="PersonalIdentifier" class="control-label"></label>
    <input asp-for="PersonalIdentifier" class="form-control" />
    <span asp-validation-for="PersonalIdentifier" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CityId" class="control-label"></label>
    <select asp-for="CityId" class="form-control" asp-items="Model.Cities"></select>
    <span asp-validation-for="CityId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>