@model WebApp.Areas.AdminArea.ViewModels.CreateEditCountyViewModel


<div class="form-group">
    <label asp-for="CountyName" class="control-label"></label>
    <input asp-for="CountyName" class="form-control" />
    <span asp-validation-for="CountyName" class="text-danger"></span>
</div>

