@using Base.Service.Contracts
@inject IAppState AppState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ITaxi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (AppState.IsLoggedIn)
        {
            @if (AuthResponse?.RoleNames.Contains("Driver") == true)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/vehicles/index">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vehicles
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/schedules/index">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedules
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/ridetimes/index">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ride Times
                    </NavLink>
                </div>
            }
            else if (AuthResponse?.RoleNames.Contains("Customer") == true)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/bookings/index">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bookings
                    </NavLink>
                </div>
            }
        }
        
        @if (!AppState.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {

    [CascadingParameter]
    public IAuthResponse? AuthResponse { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppState.OnAuthResponseChanged += () => StateHasChanged();
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
