@model WebApp.Areas.AdminArea.ViewModels.CreateEditVehicleMarkViewModel

<div class="form-group">
    <label asp-for="VehicleMarkName" class="control-label"></label>
    <input asp-for="VehicleMarkName" class="form-control"/>
    <span asp-validation-for="VehicleMarkName" class="text-danger"></span>
</div>