@using App.Resources.Areas.App.Domain.AdminArea
@using Base.Resources
@model WebApp.Areas.AdminArea.ViewModels.CreateEditCountyViewModel

@{
    ViewData["Title"] = Common.Edit;
}

<h1>@Common.Edit</h1>

<h4>@County.CountyName</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <partial name="AdminArea/PartialViews/_CreateEditCounty" model="Model"/>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="@Common.Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Common.BackToList</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}