html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.action-links a:not(:last-child)::after,
.action-links form:not(:last-child)::after {
    content: "| ";
}

.show-hide--show {
    color: green;
}

.show-hide--hide {
    color: red;
}