@using Base.Resources
@using App.Resources.Areas.App.Domain.DriversArea
@model WebApp.Areas.DriverArea.ViewModels.DetailsDeleteVehicleViewModel

@{
    ViewData["Title"] = Common.Details;
}

<h1>@Common.Details</h1>

<div>
    <h4>@Vehicle.VehicleName</h4>
    <hr />
    <partial name="DriverArea/PartialViews/_DetailsDeleteVehicle" model="Model"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Common.Edit</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>