@using App.Resources.Areas.App.Domain.DriverArea
@model WebApp.Areas.DriverArea.ViewModels.GalleryViewModel

@{
    ViewData["Title"] = Gallery.GalleryName;
}

<h1>@Gallery.VehicleName</h1>

<h3>@Model.VehicleIdentifier</h3>
<p>
    @Gallery.NoImages
</p>

<td><a asp-action="" asp-route-id="">@Gallery.UploadImages</a> </td>