@model WebApp.Areas.AdminArea.ViewModels.CreateEditDisabilityTypeViewModel


<div class="form-group">
    <label asp-for="DisabilityTypeName" class="control-label"></label>
    <input asp-for="DisabilityTypeName" class="form-control" />
    <span asp-validation-for="DisabilityTypeName" class="text-danger"></span>
</div>
