@model WebApp.Areas.AdminArea.ViewModels.CreateEditVehicleTypeViewModel

<div class="form-group">
    <label asp-for="VehicleTypeName" class="control-label"></label>
    <input asp-for="VehicleTypeName" class="form-control"/>
    <span asp-validation-for="VehicleTypeName" class="text-danger"></span>
</div>