@page "/bookings/Decline/{Id:guid}"
@inject BookingService service
@inject NavigationManager navManager
@using ITaxi.Service
@using Public.App.DTO.v1.CustomerArea
<PageTitle>Booking Decline</PageTitle>

<h1>Decline</h1>
@if (booking == null)
{
    <p>
        <i>Loading ...</i>
    </p>
}
else
{
    
    <MudSimpleTable Style="overflow-x: auto; border:none">
        <thead>
            <tr>
                <MudTh Style="font-weight:bolder; color:black; border:none">Driver</MudTh>
                <MudTd Style="border:none">@booking?.Driver?.AppUser?.FirstAndLastName</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Vehicle Type</MudTh>
                    <MudTd Style="border:none">@booking?.VehicleType?.VehicleTypeName</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Vehicle</MudTh>
                    <MudTd Style="border:none">@booking?.Vehicle?.VehicleIdentifier</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">City</MudTh>
                    <MudTd Style="border:none">@booking?.City?.CityName</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Pickup Date and Time</MudTh>
                    <MudTd Style="border:none">@booking?.PickUpDateAndTime.ToString("g")</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Pickup Address</MudTh>
                    <MudTd Style="border:none">@booking?.PickupAddress</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Destination Address</MudTh>
                    <MudTd Style="border:none">@booking?.DestinationAddress</MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Number of Passengers</MudTh>
                    <MudTd Style="border:none">@booking?.NumberOfPassengers</MudTd>
                </tr>

                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Has An Assistent?</MudTh>
                    <MudTd Style="border:none">
                        <MudCheckBox @bind-Value="booking!.HasAnAssistant"></MudCheckBox>
                    </MudTd>
                </tr>
                <tr>
                    <MudTh Style="font-weight:bolder; color:black; border:none">Status of Booking</MudTh>
                    <MudTd Style="border:none">@booking?.StatusOfBooking</MudTd>
                </tr>
                @if (booking?.StatusOfBooking == ITaxi.Enum.Enum.StatusOfBooking.Declined)
            {
                <MudTh Style="font-weight:bolder; color:black; border:none">Booking Decline Date And Time</MudTh>
                <MudTd Style="border:none">@booking?.DeclineDateAndTime.ToString("g")</MudTd>
            }
           
        </thead>
        <tbody>
        </tbody>
    </MudSimpleTable>

    <MudForm>
        <MudButton OnClick="DeclineBookingAsync" Variant="Variant.Filled" Color="Color.Primary">Decline</MudButton>
    </MudForm>
}



@code {
    [Parameter]
    public Guid Id { get; set; }
    Booking? booking;
    protected async override Task OnInitializedAsync()
    {
        booking = await service.GetBookingByIdAsync(Id);
        await base.OnInitializedAsync();
    }

    private async Task DeclineBookingAsync()
    {
        // _errorMessage = null!;
        // booking = await service.GetbookingByIdAsync(Id);

        try
        {
            await service.DeclineBookingById(Id);
            navManager.NavigateTo("/bookings/index");
        }
        catch (Exception)
        {
            // _errorMessage = ex.Message;
        }

    }

    //private string _errorMessage = String.Empty;
}